<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Add Movie</title>
  </head>
  <body>

    <div class="container">
      <div class="jumbotron">
        <div class="container">
          <form action="/" method="post">
            <input style="width:100%" type="text" name="movieName" placeholder="Movie Name">
            <br>
            <br>
            <input style="width:100%" type="text" name="imageUrl" placeholder="Image Url">
            <br>
            <br>
            <div class=" text-center">
              <input class="btn btn-primary" type="submit">
            </div>

          </form>
        </div>
      </div>
    </div>

  </body>
</html>
